<div class="container">
	<div class="row">
		<div class="col-6">
				<div><a href="#!/results">View the same results over and over</a></div>
		</div>
		<div class="col-6">
			<div class="lg-button">
				<div class="login-button mx-auto text-center">
					<a ng-href="#!/search" class="btn splash-btn" role="button">Search Archive</a>
				</div>
			</div>
			<div class="lg-button">
				<div class="login-button mx-auto text-center">
					<a ng-href="#!/upload" class="btn splash-btn" role="button">Upload Email Data</a>
				</div>
			</div>
		</div>
	</div>
</div>