<div ng-include="'partials/nav.html'"></div>
<div class="container">
	<div class="row">
		<div class="col-6">
			<div class="lg-button home-box">
				<p class="purge-text">There are communications in the databse that are more than 3 years old.  Would you like to purge them now?</p>
			</div>
			<div class="login-button mx-auto text-center home-box">
					<a ng-href="#!/upload" class="btn splash-btn" role="button">Purge</a>
				</div>
		</div>
		<div class="col-6">
			<div class="lg-button">
				<div class="login-button mx-auto text-center">
					<a ng-href="#!/search" class="btn splash-btn" role="button">Search Archive</a>
				</div>
			</div>
			<div class="lg-button">
				<div class="login-button mx-auto text-center">
					<a ng-href="#!/upload" class="btn splash-btn" role="button">Upload Email Data</a>
				</div>
			</div>
		</div>
	</div>
</div>