<div ng-include="'partials/nav.html'"></div>
<div class="container mt-5">
	<h2>{{title}}</h2>
	<div class="row">
		<div class="col-8">
			<form>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="First Name" ng-model="user.firstName">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Last Name" ng-model="user.lastName">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Email" ng-model="user.email">
				</div>
				<p>Administrator</p>
				<div class="form-check form-check-inline">
					<label for="admin" class="form-check-label">
						<input type="radio" class="form-check-input" name="admin" ng-model="user.admin" value="true" checked> Yes
					</label>
				</div>
				<div class="form-check form-check-inline">
					<label for="admin" class="form-check-label">
						<input type="radio" class="form-check-input" ng-model="user.admin" value="false" name="admin"> No
					</label>
				</div>
				<div class="login-button">
				<button type="button" ng-click="addEditUser()" class="btn btn-primary btn-lg login-btn">Add User</button>
			</div>
			</form>
		</div>
		<div class="col-4"></div>
	</div>
</div>